body{
   background-image: url(fitness-park-9.webp);
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    height: 400px;

}
h1{
    color: rgb(255, 250, 250);
    text-align: center;
    font-family: serif;
    font-size: 25px;
    text-decoration:underline 2px solid;
    background-color: black;
    margin: 0;
    
}
ol{
    margin-top: 0%;
    width: 100%;
    padding: 0;
    margin: 0%;
    font-size: 0;
}
li{
    box-sizing: border-box;
    background-color:black;
    display: inline-block;
    width:32.3%;
    font-size: 16px;
    text-align: center;
    color: orange;
    padding: 1% 0;
    border-right: solid 1px black;
    font-weight: bolder;
}
a {
  color: inherit; 
  text-decoration: none; 
}


a:hover {
  text-decoration: underline; 
}
table{
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    border-collapse: collapse;
    height: 400px;
    color: white;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}
thead{
    text-align: center;
    background-color:black;
    color: orange;
}
th{
    border: 1px solid white;
}
td{
    border: 1px dotted white;
}
.Superior{
    background-color: green;
}
.Inferior{
    background-color: aquamarine;
}
.CC{
    background-color: orange;
    color: black;
}
.HIIT{
    background-color: aquamarine;
}
.Movilidad{
    background-color: red;
}
.Descanso{
    background-color: darkkhaki;
}
article{
    text-align: center;
    color: white;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
}
h2{
    color: orange;
    background-color: rgba(0, 0, 0, 0.8);
}
p:nth-of-type(2){
    margin-bottom: 100px;
}