html, body{
    height: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(fitness-park-9.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    color: rgb(255, 250, 250);
    text-align: center;
    font-family: serif;
    font-size: 25px;
    text-decoration:underline 2px solid;
    background-color: black;
    margin: 0;
    
}
ol{
    margin-top: 0%;
    width: 100%;
    padding: 0;
    margin: 0%;
    font-size: 0;
}
li{
    box-sizing: border-box;
    background-color:black;
    display: inline-block;
    width:25%;
    font-size: 16px;
    text-align: center;
    color: orange;
    padding: 1% 0;
    border-right: solid 1px black;
    font-weight: bolder;
}
a {
  color: inherit; 
  text-decoration: none; 
}


a:hover {
  text-decoration: underline; 
}
nav a.active{
    
}
article{
    color: orange;
    text-align: center;
    margin-top: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
