html, body{
    height: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(fitness-park-9.webp);
    background-size: cover;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
     
    z-index: 1;
}
h1{
    color: orange;
    text-align: center;
    font-family: serif;
    font-size: 25px;
    text-decoration:underline 2px solid;
    background-color: black;
    margin: 0;
    
}
ul{
    margin-top: 100px;
    width: 100%;
    padding: 0;
    margin: 0%;
    font-size: 0;
}
li{
    
   margin-top: 100px;
   margin-left: 100px;
    font-size: 16px;
    text-align: center;
    color: black;
    padding: 1% 0;
    border: 1px solid orange;
    border-radius: 20px;
    max-width: 500px;
    width: 46%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);;
}
li:hover{
    border: 1px solid white;
}
a {
  color: inherit; 
  text-decoration: none; 
}
a:hover {
  text-decoration: underline; 
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    z-index: 9999;
    padding: 10px 0;
    text-align: center;
}

img{
    width: 200px;
}
li>img{
    display: inline-block;
}
h3{
    color: orange;
}
h3:hover{
    color: white;
}