body{
   background-image: url(fitness-park-9.webp);
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    height: 400px;

}
h1{
    color: rgb(255, 250, 250);
    text-align: center;
    font-family: serif;
    font-size: 25px;
    text-decoration:underline 2px solid;
    background-color: black;
    margin: 0;
    
}
ol{
  padding: 0;
    font-size: 0;
    
}
li{
    font-size: 16px;
    display: inline-block;
    width: 16.3%;
    color: orange;
    text-align: center;
    padding: 10px 0;
    border:2px solid orange ;
    margin: auto;
   
}
a{
    text-decoration: none;
    color: orange;
    margin-top: 20%;
}
li:hover{
    background-color: orange;
    color: white;
}
a:hover{
    color: white;
}
table{
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    border-collapse: collapse;
    height: 400px;
    color: white;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}
thead{
    text-align: center;
    background-color:black;
    color: orange;
}
th{
    border: 1px solid white;
}
td{
    border: 1px dotted white;
}
.Superior{
    background-color: green;
}
.Inferior{
    background-color: aquamarine;
}
.CC{
    background-color: orange;
    color: black;
}
.HIIT{
    background-color: aquamarine;
}
.Movilidad{
    background-color: red;
}
.Descanso{
    background-color: darkkhaki;
}
article{
    text-align: center;
    color: white;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
h2{
    color: orange;
    background-color: rgba(0, 0, 0, 0.8);
}
p:nth-of-type(2){
    margin-bottom: 100px;
}