body{
    background-image: url(fitness-park-9.webp);
}

h2{
  color: orange;
  margin-top: 100px;
}


div{
    display: inline-block;
    width:50%;
    vertical-align: top;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: orange;
}

section {
    text-align: center;
    margin: auto;
    vertical-align: top;
}

section img {
    width: 300px;          
    height: 200px;
     
}
img:hover{
    width: 310px;
    height: 210px;
    border: 2px solid orange;         /*Borde al pasar por encima de la imagen*/
}
ol{
  padding: 0;
    font-size: 0;
    
}
li{
    font-size: 16px;
    display: inline-block;
    width: 16.3%;
    color: orange;
    text-align: center;
    padding: 10px 0;
    border:2px solid orange ;
    margin: auto;
   
}
a{
    text-decoration: none;
    color: orange;
    margin-top: 20%;
}
li:hover{
    background-color: orange;
    color: white;
}
a:hover{
    color: white;
}