html, body{
    height: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(fitness-park-9.webp);
    background-size: cover;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
     
    z-index: 1;
}
h1{
    color: orange;
    text-align: center;
    font-family: serif;
    font-size: 25px;
    text-decoration:underline 2px solid;
    background-color: black;
    margin: 0;
}
h2{
    color: orange;
    text-align: center;
}
h3{
    text-align: center;
    color: white;
    font-size: 14px;
}
form{
    width: 60%;
    margin: auto;
    color: orange;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    
    
}
label {
        display: block;
        margin: auto;
    }
:required{
    border: 1px solid orange;
}
textarea{
    color: black;
}
button{
    display: flex;
    margin: auto;
}
