body{
   background-image: url(fitness-park-9.webp);
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    height: 400px;

}
table{
    width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    border-collapse: collapse;
    height: 400px;
    color: white;
    margin-top: 100px;
}
thead{
    text-align: center;
    background-color:black;
    color: orange;
}
th{
    border: 1px solid white;
}
td{
    border: 1px dotted white;
}
.Superior{
    background-color: green;
}
.Inferior{
    background-color: aquamarine;
}
.CC{
    background-color: orange;
    color: black;
}
.HIIT{
    background-color: aquamarine;
}
.Movilidad{
    background-color: red;
}
.Descanso{
    background-color: darkkhaki;
}
article{
    text-align: center;
    color: orange;
    margin-top: 50px;
}