html, body{
    height: 100%;
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(fitness-park-9.webp);
    background-size: cover;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
     
    z-index: 1;
}
h1{
    color: orange;
    text-align: center;
    font-family: serif;
    font-size: 25px;
    text-decoration:underline 2px solid;
    background-color: black;
    margin: 0;
}
.ejercicios {
  max-width: 800px;
  margin: auto;
}

.ejercicios h2 {
  text-align: center;
  margin-bottom: 20px;
}

.grupo {
  background-color: rgba(0, 0, 0, 0.8);;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.grupo h3 {
  margin-top: 0;
  color: orange;
}

.grupo ul {
  list-style: none;
  padding: 0;
}

.grupo li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  color: white;
}

.grupo li:last-child {
  border-bottom: none;
}
li:hover{
    color: orange;
}