body{
    background-image: url(fitness-park-9.webp);
}
h2{
    color: white;
    text-align: center;
}
h3{
    color: orange;
}
article{
    font-size: 25px;
    margin-top: 0;
}
p{
    margin-left: 100px;
    margin-right: 100px;
}