body{
    margin: 0%;
    padding: 0%;
    background-image: url(fitness-park-9.webp);
}
h1{
    color: orange;
    text-align: center;
    font-family: serif;
    font-size: 25px;
    text-decoration:underline 2px solid;
    background-color: black;
    margin: 0;
    
}
img{
    width: 400px;
    height: 300px;
    margin-left: 480px;
    margin-top: 100px;
    margin-bottom: 50px;
}
p{
    color: orange;
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    
}
nav{
    width: 100%;
    padding: 0;

}
li{
    background-color: black;
    color: orange;
    width: 16%;
    display: inline-block;
}