body{
    margin: 0%;
    padding: 0%;
    background-image: url(fitness-park-9.webp);
}
h1{
    color: orange;
    text-align: center;
    font-family: serif;
    font-size: 25px;
    text-decoration:underline 2px solid;
    background-color: black;
    margin: 0;
    
}
h1>img{
    width: 50px;
    right: 100px;
}
main{
    margin-top: 100px;
    text-align: center;
    margin-left: 15%;
    
    
}
section{
    width: 80%;
    text-align: center;
    
}
article{
    background-color: rgba(0, 0, 0, 0.8);
}
p{
    color: white;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;;
    
    
}
ol{
  padding: 0;
    font-size: 0;
    
}
li{
     font-size: 16px;
    display: inline-block;
    width: 16.3%;
    color: orange;
    text-align: center;
    padding: 10px 0;
    border:2px solid orange ;
    margin: auto;
   
}
li:hover{
    background-color: orange;
    color: white;
}
a{
    text-decoration: none;
    color: orange;
  
}
a:hover{
    color: white;
}